<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de ONG</title>
 <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <div class="ong-form-container">
    <h2>Cadastro de ONG</h2>
    <form class="ong-form" action="#" method="post">
      <div class="ong-form-group">
        <label for="nomeOng">Nome da ONG</label>
        <input type="text" id="nomeOng" name="nomeOng" required>
      </div>

      <div class="ong-form-group">
        <label for="telefone">Telefone</label>
        <input type="tel" id="telefone" name="telefone">
      </div>

      <div class="ong-form-group">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco">
      </div>

      <div class="ong-form-group">
        <label for="redeSocial">Rede Social / Site</label>
        <input type="text" id="redeSocial" name="redeSocial">
      </div>

      <div class="ong-form-group">
        <label for="responsavel">Nome do Responsável</label>
        <input type="text" id="responsavel" name="responsavel">
      </div>

      <div class="ong-form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email">
      </div>

      <div class="ong-form-group">
        <label for="descricao">Descrição da Missão</label>
        <textarea id="descricao" name="descricao"></textarea>
      </div>

      <button type="submit" class="ong-form-btn">Finalizar Cadastro</button>
    </form>
  </div>
</body>
</html>
